
.custom-card .ant-card-meta-description {
  max-height: 150px; 
  text-align: left; 
  overflow-wrap: break-word; 
  white-space: pre-wrap; 
  overflow: hidden;
}

.card-content .ant-card-body {
  
  overflow-y: auto; 
}

.link_kakao {
  float: right; 
  margin-top: 5px;
}
